In [1]:
num_int = 42
print(num_int)
print(type(num_int))

42
<class 'int'>

In [2]:
num_complex = 2+3j
print(num_complex)
print(type(num_complex))

(2+3j)
<class 'complex'>

In [3]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [11]:
my_str = "Hello World"
print(my_str)
print(type(my_str))

Hello World
<class 'str'>

In [10]:
my_set = {1, 2,3,4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [9]:
my_dic = {'Name','John', 'age', 25, 'City', 'Arwal'}
print(my_dic)
print(type(my_dic))

{'Arwal', 'Name', 'age', 'City', 'John', 25}
<class 'set'>

In [13]:
my_list = [1,2,3,4,5,6]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [14]:
my_tuple = (1, 'two, 3.0')
print(my_tuple)
print(type(my_tuple))

(1, 'two, 3.0')
<class 'tuple'>

In [15]:
my_none = None
print(my_none)
print(type(my_none))

None
<class 'NoneType'>

Operatoes in Python
1> PYTHON OPERATORS
2. OPERATOR TYPES
3. OPERATAOR PRECEDENCE
4. OPERATOR ASSPCIATIVITY

In [16]:
#Addition 
a = 10
b = 5
result  = a + b
print(result)

15

In [17]:
#Subtraction 
a = 10
b = 5
result  = a - b
print(result)

5

In [18]:
#Multiplication 
a = 10
b = 5
result  = a * b
print(result)

50

In [ ]:
#Division 
a = 10
b = 5
result  = a / b
print(result)

In [19]:
#Modulas (it represents remainder of two no.)
a = 10
b = 5
result  = a % b
print(result)

0

In [20]:
#Exponential 
a = 2
b = 3
result  = a ** b
print(result)

8

Comparision Operators

In [21]:
# Equal to (==)
a = 10
b = 5
result  = a == b
print(result)

False

In [22]:
#Not equal to(!=) 
a = 10
b = 5
result  = a != b
print(result)

True

In [23]:
#Greater than(>):
a = 10
b = 5
result  = a > b
print(result)

True

In [24]:
#Less than(<):
a = 10
b = 5
result  = a < b
print(result)

False

In [25]:
#Greater than or equal to(>=):
a = 10
b = 5
result  = a >= b
print(result)

True

In [26]:
#Less than or equal to(<=):
a = 10
b = 5
result  = a <= b
print(result)

False

Logical OPerator

In [27]:
#LOgical AND
x = True
y = False
result = x and y
print(result)

False

In [28]:
#LOgical OR
x = True
y = False
result = x or y
print(result)

True

In [30]:
#LOgical NOT
x = True
y = False
result = not (x and y)
print(result)

True

In [ ]:
AssignMent Operator

In [ ]:
#Assignment Opertaor
a = 20

In [34]:
#Addition assignment (+=)
a += 5
print(a)

20

Identity Operator

In [35]:
# 'is operator
x = 'Guddu'
y = x
result = x is y
print(result)

True

In [37]:
# 'is not' operator
x = 'Guddu'
y = 420
result = x is not y
print(result)

True

Python Operator's Precedence

In [38]:
#usi9ng parenthesis to change orer of operations 
result = (2+3) * 4
print(result)

20

BIWISE SHIFT OPERATOR

In [39]:
#LEFT Shift Operator
result = 8 << 2 #it is shifting in binary
print(result)

32

In [40]:
#Right Shift operator
result = 8 >> 2 #it is shifting in binary
print(result)

2

Type Conversion

1. Type Conversion
2. Implicit type conversion
3. Explicit Type Conversion
4. type conversion between string and other type

In [41]:
#convert a float to an integer
float_num = 10.3
int_num = int(float_num)
print(int_num)

10

In [44]:
#convert a string to an integer
str_num = '42'
int_str = int(str_num)
print(int_str)

42

Implicit Type Casting

In [45]:
#implicit type casting
a = 2
b = 3.14
c = a + b
print(type(c))

<class 'float'>

CONDITIONALS
1. if-statements
2. if-else statements
3. if-elif-else statements
4. Nested if else statement

In [47]:
course = 'Datascience'
if course == 'Datascience':
    print("Match Found")
else :
    print("Not Found")

Not Found

In [50]:
#nested if-else Statements
name = "Guddu"
branch = "CSE"
name1 = "BAWA"
if name == "Guddu":
    print("Name = Guddu \n Branch = CSE")
if name1 == "BAWA" :
    print("Name = BAWA \n Branch = CSE")
else:
    print("Not Founf")

Name = Guddu
 Branch = CSE
Name = BAWA
 Branch = CSE

LOOPING STATEMENTS

In [55]:
#PRINTING a list of courses
courses = {"Datascience", "Data Analytics", "Python", "Javascript"}
for course in courses:
    print(course)

Javascript
Python
Datascience
Data Analytics

In [64]:
#Generating a number sequence
for i in range(2,6,3): # 3 is Jumping statement
    print("Number:", i)

Number: 2
Number: 5

In [73]:
#Pattern 1: Right Triangle
for i in range(5):
    for j in range(i + 1):
        print("*", end=" ")
print("")

* * * * * * * * * * * * * * *

In [78]:
for i in range(4):
     for j in range(4):
      print("*", end=" ")
print()

* * * * * * * * * * * * * * * *

In [81]:
valid_input = False
while not valid_input:
  user_input = input("Enter 'yes' or 'no': ")
  if user_input.lower() in ["yes", "no"]:
   valid_input = True
  else:
   print("Invalid input. Please enter 'yes' or 'no'.")

Invalid input. Please enter 'yes' or 'no'.